
body { font-family: 'Segoe UI', Arial, sans-serif ;}

article { border: 1px #909090 solid;
          padding: 20px;
          margin-top: 20px;
          margin-bottom: 20px;

          box-sizing: border-box;
          width:47%;
}

article img { max-width: 100%; }

main section {
              display:flex;
              flex-wrap: wrap;
              justify-content: space-between;
             }

@media (min-width: 1200px){
  article{
    width:22%;
    
  }
}
